<ion-content>
  <img id="imgduoc" src="../../../assets/img/Duoc_logo.png" alt="">
  <ion-card>
    <ion-card-header id="color_fondo_titulo">
      <strong id="colorletraStrong">Bienvenido</strong>
      <h2 id="colorletra">Escaneo codigo QR</h2>
    </ion-card-header>
      <ion-card-content id="img">
         <ion-button> <ion-icon slot="start" name="camera-outline"></ion-icon>Escanear codigo QR</ion-button>
      </ion-card-content>
      <ion-input label="Código De Asistencia" label-placement="floating"
      placeholder="Ingrese código de asistencia de la clase" type="text"></ion-input>
  </ion-card>
</ion-content>
