<ion-content>

  <ion-card class="cardlogin">
    <ion-card-header style="background-color: #012C56;">
          <h1 id="colorletra">
            Bienvenido
          </h1>
    </ion-card-header>
    <ion-card-content>
      <ion-avatar id="Foto_perfil">
        
          <img alt="Foto de perfil" src="https://m.media-amazon.com/images/I/41hwtvtsrJL._UXNaN_FMjpg_QL85_.jpg" />

      </ion-avatar>
    </ion-card-content>
  </ion-card>

  <ion-card id="chistes">
    <ion-list>
      <ion-item>
        <h1 id="chiste"> - {{chiste}} - </h1>
      </ion-item>
      <ion-item>
        <h1 id="chiste"> - {{remate}} - </h1>
      </ion-item>
    </ion-list>
  </ion-card>

<ion-card>
  <ion-card-header>
    <input type="text">
  </ion-card-header>
  <div id="map"></div>
</ion-card>
 
</ion-content>