#Foto_perfil{
  margin-top: 10px;
  margin-left: 35%;
  width: 100px;
  height: 100px;
}

#colorletra{
  color: #fff!important;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}

#chiste{
  
  text-align: center;
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
  // background-image: linear-gradient(rgb(202, 202, 255),rgb(255, 220, 220));
}

#colorletra{
  color: #fff!important;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.cardlogin{
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#map{
  width: 100%;
  height: 600px;
  display: block;
}

